:host {
  display: block;
  font-family: 'RobotoDraft', sans-serif;
}

/*
:host /deep/ #ink, :host /deep/ #selectionBar, :host /deep/ #onRadio {
  color: #FED359;
}
*/
/* To ensure your styling works under the Shadow DOM polyfill, see
   www.polymer-project.org/docs/polymer/styling.html#directives */
polyfill-next-selector { content: ':host > h2'; }
::content h2 {
  color: blue;
}

.container-header {
  height: 100%;
}

core-toolbar {
  background: #47CACC;
  color: white;
  min-height: 64px;
}

core-toolbar paper-icon-button {
  vertical-align: middle;
}
.menu-label {
  display: none;
}
#search {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  font-size: 16px;
}
.sc-search-input {
  /* background-color: rgba(65, 189, 191, 1); */
}
.sc-search-input input[type="text"] {
  color: #000;
  outline: none;
}
#menu {
  display: none;
}
/*  paper input decorator custom styling */
paper-input-decorator /deep/ .unfocused-underline {
  /* line color when the input is unfocused */
  background-color: rgba(204, 204, 204, 0.3);
}
paper-input-decorator /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: rgba(42, 122, 124, 0.5);
}
paper-input-decorator /deep/ ::-webkit-input-placeholder {
  /* platform specific rules for placeholder text */
  color: rgba(255, 255, 255, 0.6);
}
paper-input-decorator /deep/ ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
paper-input-decorator /deep/ :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 481px) {
  .container {
    width: 400px;
  }
  .menu-label {
    display: block;
  }
}

@media (max-width: 640px) {
  #menu {
    display: inline;
  }
}

